[general]
fd = fd
txt = /home/main/folders.txt
[grab]
api = jacketapi
cookie = cookie.txt
torrent= dir to save torrents
output = save downloaded links
output2 = save potential uploads info
exclude = don't include this type in search
size = false
site= blutopia,hdtorrents,uhdbits
filter= 4
[scan]
mvr =dir(s), comma seperated
tvr =dir(s), comma seperated
ignore =dir(s), comma seperated

